# Prerequisites
*.d
# Tệp cấu hình của IDE
*.sublime-workspace
*.sublime-project
.vscode/
*.ncb
*.sdf
*.suo
*.user
*.userprefs
*.tlog
*.vscode/
*.cph/
# Thư mục chứa thư viện
lib/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
demo.*
